<h3><%= t('views.common.users') %></h3>
<%= link_to  t('views.common.books'), root_path %>
<div>
  <%= render partial: 'shared/user_list', collection: @users, as: :user %>
  <%= paginate @users %>
</div>
